<div id="modalProveedor" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles De La Venta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
          aria-label="Close"></button>
      </div>
      
        <div class="modal-body">

            <div class="">

                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Fecha:</strong> {{listado[0].ordene.fecha_registro}}</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Estación:</strong> {{listado[0].ordene.usuario.estacion}}</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Vendedor:</strong> {{listado[0].ordene.usuario.nombres}} {{listado[0].ordene.usuario.apellidos}}</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>NIT:</strong> {{listado[0].ordene.usuario.nit}}</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>No. Venta:</strong> {{listado[0].id}}</label>
                    </div>
                </div>
    
                <div class="row mb-3">
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Cliente:</strong> {{listado[0].ordene.cliente.nombres}} {{listado[0].ordene.cliente.apellidos}}</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Tipo:</strong> FALTA TIPO</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Forma de pago:</strong> {{listado[0].ordene.metodos_pago.nombre}}</label>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlInput1" class="form-label"><strong>Consecutivo:</strong> {{listado[0].ordene.consecutivo}}</label>
                    </div>
                </div>
    
            </div>
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Producto</th>
                        <th scope="col">Línea</th>
                        <th scope="col">Cant.</th>
                        <th scope="col">Valor Unt.</th>
                        <th scope="col">% Imp.</th>
                        <th scope="col">B. no Grabada</th>
                        <th scope="col">B. Grabada</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orden of listado[0].ordene.detalle_ordenes" (contextmenu)="onTableClick($event, orden)"
                        [attr.modal]="'modalDevolucion'">
                        <th>{{orden.producto.id}}</th>
                        <th>{{orden.producto.nombre}}</th>
                        <th>{{orden.producto.lineas_producto.nombre}}</th>
                        <th>{{orden.cantidad}}</th>
                        <th>{{orden.producto.precio_venta}}</th>
                        <th>{{orden.producto.valor_impuesto}}</th>
                        <th>{{orden.id}}</th>
                        <th>{{orden.id}}</th>
                        <th>{{orden.total}}</th>
                    </tr>
                </tbody>
            </table>

            <div #contextMenu></div>
            
            <div class="row">
                <div class="col offset-9">
                    <label for="exampleFormControlInput1" class="form-label"><strong>Valor Total:</strong> {{listado[0].total}}</label>
                </div>

            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Cancelar</button>
        </div>
    </div>
  </div>
</div>

<div *ngIf="modalDevolucion">
    <app-modal-devolucion (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-devolucion>
</div>