<div class="card">
    <div class="card-header">
        <div class="p-2">
            <div class="row">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-secondary me-3"
                        (click)="modal = 'modalAgregarProducto'; openModal()">Agregar Producto</button>
                </div>
                <div class="col-8">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscador" aria-label="Recipient's username"
                            aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2">Buscador</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Cant.</th>
                    <th scope="col">Precio Unt.</th>
                    <th scope="col">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of listado" (contextmenu)="onTableClick($event, producto)"
                    [attr.modal]="'modalAgregarProducto'">
                    <th>{{producto.id}}</th>
                    <th>{{producto.nombre}}</th>
                    <td>{{producto.id_proveedor}}</td>
                    <td>{{producto.id_linea}}</td>
                    <td>{{producto.precio_costo}}</td>
                    <td>{{producto.precio_costo * producto.id_linea}}</td>
                </tr>
            </tbody>
        </table>
        <div #contextMenu></div>
    </div>
</div>

<!-- Modal -->

<div *ngIf="modalAgregarProducto">
    <app-modal-agregar-producto (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-agregar-producto>
</div>