<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="6">
        <div class="clearfix">
          <h1 class="float-start display-3 me-4">404</h1>
          <h4 class="pt-3">Oops! Te encuentras perdido..</h4>
          <p class="text-medium-emphasis float-start">
            La página que estas buscando no ha sido encontrada.
          </p>
        </div>
      </c-col>
    </c-row>
  </c-container>
</div>
