<div class="modal" style="display: block;" tabindex="-1" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Grupos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Buscar</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPassword">
                    </div>
                </div>
                <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group" role="group" aria-label="First group">

                    </div>
                    <div class="btn-group" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary me-5" data-bs-dismiss="modal"
                            (click)="closeModal()">Cancelar</button>
                        <button type="submit" class="btn btn-primary"
                            (click)="modal = 'addGroup'; openModal()">Nuevo</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <table class="table table-hover" (contextmenu)="onTableClick($event)">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of listado" [id]="product.id" [attr.modal]="'addGroup'">
                            <th>{{product.name}}</th>
                            <td>{{product.supplier}}</td>
                        </tr>
                    </tbody>
                </table>
                <div #contextMenu></div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="displayStyleAddGroup == 'block'">
    <app-modal-add-group [displayStyle]="displayStyleAddGroup" [data]="data" (displayStyleEvent)="displayStyleEvent2($event)"></app-modal-add-group>
</div>