<div id="modalProveedor" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Historial De Paquetes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Buscador" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <span class="input-group-text" id="basic-addon2">Buscador</span>
                  </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let package of listado" (contextmenu)="onTableClick($event, package)" [attr.modal]="'addPackage'">
                            <th>{{package.producto.nombre}}</th>
                            <td>{{package.fecha_registro}}</td>
                        </tr>
                    </tbody>
                </table>
                <div #contextMenu></div>

            </div>
            <div class="modal-footer">
                

                <div class="">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="closeModal()">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="displayStyleAddPackage == 'block'">
    <app-modal-add-package [displayStyle]="displayStyleAddPackage" [dataPackage]="dataPackage"
        (displayStyleEvent)="displayStyleEvent2($event)"></app-modal-add-package>
</div>