<div class="card">
  <div class="card-header">
    <div class="p-2"> 
      <div>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'modalAgregarProducto'; openModal()">Agregar Producto</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'modalLinea'; openModal()">Agregar Línea</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'modalAgregarPaquete'; openModal()">Crear Paquetes</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'modalPaquete'; openModal()">Historial de paquetes</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'modalListaPrecios'; openModal()">Lista de precios</button>
      </div>
      <form [formGroup]="form">
        <div class="pt-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" (window:keyup)="onKey($event)" value="{{consulta}}" placeholder="Buscador">
            <span class="input-group-text" id="basic-addon2">Buscador</span>
          </div>
        </div>
      </form>
      
      
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Valor Unt.</th>
          <th scope="col">Línea</th>
          <th scope="col">Código</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of listado" (contextmenu)="onTableClick($event, producto)" [attr.modal]="'modalAgregarProducto'">
          <th>{{producto.nombre}}</th>
          <td>{{producto.id_proveedor}}</td>
          <td>{{producto.precio_costo | currency:'':'symbol':'1.0-2'}}</td>
          <td>{{producto.lineas_producto.nombre}}</td>
          <td>{{producto.codigo_barras}}</td>
        </tr>
      </tbody>
    </table>
    <div #contextMenu></div>
  </div>
</div>

<!-- Modal -->

<div *ngIf="modalAgregarProducto">
  <app-modal-add-product (closeEvent)="closeEventModal()" [data]="dataModal" [listadoProductos]="listadoCopia"></app-modal-add-product>
</div>

<div *ngIf="modalLinea">
  <app-modal-line (closeEvent)="closeEventModal()" ></app-modal-line>
</div>

<div *ngIf="modalAgregarPaquete">
  <app-modal-add-package (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-add-package>
</div>

<div *ngIf="modalPaquete">
  <app-modal-package (closeEvent)="closeEventModal()" ></app-modal-package>
</div>

<div *ngIf="modalListaPrecios">
  <app-modal-price-list (closeEvent)="closeEventModal()" ></app-modal-price-list>
</div>

