<div class="card">
  <div class="card-header">
    <div class="p-2">
      <div>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'addProduct'; openModal()">Agregar Producto</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'group'; openModal()">Agregar Grupo</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'discount'; openModal()">Descuentos</button>
      <button type="button" class="btn btn-outline-secondary me-3">Crear Paquetes</button>
      <button type="button" class="btn btn-outline-secondary me-3">Historial de paquetes</button>
      </div>
      <div class="pt-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscador" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">Buscador</span>
        </div>
      </div>
      
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" (contextmenu)="onTableClick($event)">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Precio Lista</th>
          <th scope="col">Grupo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listado" [id]="product.id" [attr.modal]="'addProduct'">
          <th>{{product.name}}</th>
          <td>{{product.supplier}}</td>
          <td>{{product.price}}</td>
          <td>GRUPO</td>
        </tr>
      </tbody>
    </table>
    <div #contextMenu></div>
  </div>
</div>

<!-- Modal -->

<div *ngIf="displayStyleAddProduct == 'block'">
  <app-modal-add-product [displayStyle]="displayStyleAddProduct" [data]="data" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-add-product>
</div>

<div *ngIf="displayStyleGroup == 'block'">
  <app-modal-group [displayStyle]="displayStyleGroup" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-group>
</div>

<div *ngIf="displayStyleDiscount == 'block'">
  <app-modal-discount [displayStyle]="displayStyleDiscount" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-discount>
</div>

