<div class="card">
  <div class="card-header">
    <div class="p-2">
      <div>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'addProduct'; openModal()">Agregar Producto</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'line'; openModal()">Agregar Línea</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'addPackage'; openModal()">Crear Paquetes</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'package'; openModal()">Historial de paquetes</button>
      <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'priceList'; openModal()">Lista de precios</button>
      </div>
      <div class="pt-4">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Buscador" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2">Buscador</span>
        </div>
      </div>
      
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Valor Unt.</th>
          <th scope="col">Línea</th>
          <th scope="col">Código</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of listado" (contextmenu)="onTableClick($event, producto)" [attr.modal]="'addProduct'">
          <th>{{producto.nombre}}</th>
          <td>{{producto.id_proveedor}}</td>
          <td>{{producto.precio_costo}}</td>
          <td>{{producto.id_linea}}</td>
          <td>{{producto.codigo_barras}}</td>
        </tr>
      </tbody>
    </table>
    <div #contextMenu></div>
  </div>
</div>

<!-- Modal -->

<div *ngIf="displayStyleAddProduct == 'block'">
  <app-modal-add-product [displayStyle]="displayStyleAddProduct" [dataProduct]="dataProduct" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-add-product>
</div>

<div *ngIf="displayStyleLine == 'block'">
  <app-modal-line [displayStyle]="displayStyleLine" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-line>
</div>

<div *ngIf="displayStyleAddPackage == 'block'">
  <app-modal-add-package [displayStyle]="displayStyleAddPackage" [dataPackage]="dataProduct" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-add-package>
</div>

<div *ngIf="displayStylePackage == 'block'">
  <app-modal-package [displayStyle]="displayStylePackage" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-package>
</div>

<div *ngIf="displayStylePriceList == 'block'">
  <app-modal-price-list [displayStyle]="displayStylePriceList" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-price-list>
</div>

