<div id="modalBalanza" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Calculando Peso ...</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
          aria-label="Close"></button>
      </div>
   
        <div class="modal-body">

          <form [formGroup]="form">
            <input type="text" formControlName="peso">
            <input type="text" [ngModel]="pesoCalculado">
            <input type="button" (click)="prueba()" value="oprimir">
            {{prueba()}}
          </form>
          

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" (click)="submit()">Aceptar</button>
          </div>
    </div>
  </div>
</div>