<div class="modal" style="display: block;" tabindex="-1" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Descuento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-3 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                            <select class="form-select" aria-label="Default select example" formControlName="name">
                                <option selected value="1">Normal</option>
                                <option value="2">Paquete</option>
                            </select>
                        </div>
                        <div class="col-2 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Cantidad min</label>
                            <input type="number" class="form-control" formControlName="quantity_minimal" id="quantity_minimal">
                        </div>
                        <div class="col-2 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Canitdad máx</label>
                            <input type="number" class="form-control" formControlName="quantity_maximum" id="quantity_maximum">
                        </div>
                        <div class="col-2 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Descuento</label>
                            <input type="number" class="form-control" formControlName="discount" id="discount">
                        </div>
                        <div class="col-3 mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Valor Descontado</label>
                            <input type="number" readonly class="form-control-plaintext disabled" formControlName="discounted_value" id="discounted_value">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                    (click)="submit()">Agregar</button>
            </div>
        </div>
    </div>
</div>