<div id="modalAgregarLinea" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Línea</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form [formGroup]="form">
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-3 col-form-label">Nombre de la línea</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nombre" formControlName="nombre">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="closeModal()">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="form.invalid"
                    (click)="submit()">Aceptar</button>
            </div>
        </div>
    </div>
</div>