<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">
      <c-nav-item>
        <a cNavLink routerLink="/dashboard" routerLinkActive="active">
          {{nombreUsuario}}
        </a>
      </c-nav-item>
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      <c-nav-item>
        <a routerLink="./" cNavLink>
          <svg cIcon name="cilBell" size="lg"></svg>
        </a>
      </c-nav-item>
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
    <button
      cButton
      color=""
      [caret]="false"
      cDropdownToggle
      class="py-0"
    >
      <c-avatar
        cTextColor="primary"
        shape="rounded-1"
        size="md"
        src="./assets/img/avatars/avatar-user.png"
        status="success"
      >
      </c-avatar>
    </button>
    <ul cDropdownMenu class="pt-0 pr-5 w-auto">
      <li>
        <h6 cDropdownHeader class="bg-light fw-semibold py-2">Ajustes</h6>
      </li>
      <li></li>
      <li>
        <a cDropdownItem (click)="modal = 'modalAgregarUsuario'; openModal(listado)">
          <svg cIcon class="me-2" name="cilUser"></svg>
          Perfil
        </a>
      </li>
      <li>
        <hr cDropdownDivider/>
      </li>
      <li>
        <a routerLink="/login" cDropdownItem (click)="cerrarSesion()">
          <svg cIcon class="me-2" name="cilLockLocked"></svg>
          Cerrar Sesión
        </a>
      </li>
      <li></li>
    </ul>
  </c-dropdown>
</ng-template>


<!-- Modal -->




<div *ngIf="modalAgregarUsuario" id="modalAgregarUsuario" class="modal fade show" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel" aria-modal="true" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Perfil</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeEventModal()" aria-label="Close"></button>
        </div>
        <form [formGroup]="form">
        <div class="modal-body">
  
            <div class="row">
  
              <div class="col">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="1" formControlName="nombres" id="nombres">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">NIT</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="3" formControlName="nit" id="nit">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Estación</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="5" formControlName="estacion" id="estacion">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Dirección</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="7" formControlName="direccion" id="direccion">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Usuario</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="9" formControlName="usuario" id="usuario">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Cargo</label>
                  <div class="col-sm-9">
                    <select class="form-select" tabindex="11" aria-label="Default select example" formControlName="id_tipo_usuario">
                      <option *ngFor="let item of tiposUsuarios" value="{{item.id}}">{{item.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
  
  
              <div class="col">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Apellido</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="2" formControlName="apellidos" id="apellidos">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Ciudad</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="4" formControlName="ciudad" id="ciudad">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Correo</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" tabindex="6" formControlName="correo" id="correo">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Télefono</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" tabindex="8" formControlName="telefono" id="telefono">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Contraseña</label>
                  <div class="col-sm-9">
                    <input type="password" class="form-control" tabindex="10" formControlName="clave" id="clave">
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="closeEventModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  <div *ngIf="modalAgregarUsuario" class="modal-backdrop fade show"></div>