<div class="card">
  <div class="card-header">
    <div class="p-2">
      <button type="button" class="btn btn-outline-secondary me-5" (click)="modal = 'modalAgregarUsuario'; openModal()">Agregar Usuarios</button>
      <button type="button" class="btn btn-outline-secondary" (click)="recargar()">Recargar Pantalla</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">CC</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Establecimiento</th>
          <th scope="col">Tipo Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of listado" (contextmenu)="onTableClick($event, usuario)"
        [attr.modal]="'modalAgregarUsuario'">
          <th>{{usuario.nit}}</th>
          <td>{{usuario.nombres}}</td>
          <td>{{usuario.apellidos}}</td>
          <td>{{usuario.ciudad}}</td>
          <td>{{usuario.estacion}}</td>
          <td>{{usuario.id_tipo_usuario}}</td>
        </tr>
      </tbody>
    </table>
    <div #contextMenu></div>
  </div>
</div>

<!-- Modal -->
<div *ngIf="modalAgregarUsuario">
  <app-modal-add-user (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-add-user>
</div>

