<div class="card">
  <div class="card-header">
    <div class="p-2">
      <button type="button" class="btn btn-outline-secondary me-5">Agregar Usuarios</button>
      <button type="button" class="btn btn-outline-secondary">Recargar Pantalla</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">CC</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Cargo</th>
          <th scope="col">Tipo Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1234567890</th>
          <td>Andrés</td>
          <td>Rodriguez</td>
          <td>Sogamoso</td>
          <td>Administrador</td>
          <td>Vendedor</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal" style="display: block;" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Usuarios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">

            <div class="col">
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Cédula</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Cargo</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Dirección</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo Usuario</label>
                <div class="col-sm-9">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Administrador</option>
                    <option value="1">Vendedor</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="col">
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Apellido</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Ciudad</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Correo</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Télefono</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="inputEmail3">
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>