<div class="card">
  <div class="card-header">
    <div class="p-2">

      <div class="row">
        <div class="col-7">
          <button type="button" class="btn btn-outline-secondary me-3" (click)="modal = 'addProduct'; openModal()">Agregar Cliente</button>
          <button type="button" class="btn btn-outline-secondary me-3" (click)="refresh()">Recargar Pantalla</button>
        </div>
        
        <div class="col-5">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar Razón social" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text" id="basic-addon2">Buscador</span>
          </div>
        </div>
      

    </div>
      
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">C.C</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Celular</th>
          <th scope="col">Ciudad</th>
          <th scope="col">Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of listado" (contextmenu)="onTableClick($event, cliente)" [attr.modal]="'addProduct'">
          <th>{{cliente.cedula}}</th>
          <td>{{cliente.nombres}}</td>
          <td>{{cliente.apellidos}}</td>
          <td>{{cliente.celular}}</td>
          <td>{{cliente.ciudad}}</td>
          <td>{{cliente.direccion}}</td>
        </tr>
      </tbody>
    </table>
    <div #contextMenu></div>
  </div>
</div>

<!-- Modal -->
<!--
<div *ngIf="displayStyleAddProduct == 'block'">
  <app-modal-add-product [displayStyle]="displayStyleAddProduct" [data]="dataProduct" (displayStyleEvent)="displayStyleEvent($event)"></app-modal-add-product>
</div>
-->
<div *ngIf="modalProveedores">
  <app-modal-agregar-clientes (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-agregar-clientes>
</div>