<div class="card">
    <div class="card-header">
        <div class="p-2">

            <div class="row">

                <div class="col-12">
                    <form [formGroup]="form">
                        <div class="row mb-3">
                            <label for="inputEmail3" class="col-1 col-form-label">Fecha:</label>
                            <div class="col-4">
                                <input type="date" class="form-control" formControlName="fechaInicio" id="fechaInicio">
                            </div>

                            <label for="inputEmail3" class="col-1 col-form-label">Al:</label>
                            <div class="col-4">
                                <input type="date" class="form-control" formControlName="fechaFin" id="fechaFin">
                            </div>

                            <div class="col-2">
                                <button type="button" class="btn btn-outline-secondary col-12" [disabled]="form.invalid"
                                    (click)="filtroFecha()">Aplicar</button>
                            </div>
                        </div>
                    </form>
                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="input-group">
                                <input type="text" class="form-control" (keyup)="buscarCompra($event)" placeholder="Buscar Compra"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <span class="input-group-text" id="basic-addon2">Buscador</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <select class="form-select" aria-label="Default select example"
                                (change)="cambiarVista($event); initData()">
                                <option selected value="1">Detallada</option>
                                <option value="2">General</option>
                            </select>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
    <div class="card-body">
        <table class="table table-hover" *ngIf="tipoVista == 1">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Cant.</th>
                    <th scope="col">Valor Unt.</th>
                    <th scope="col">Línea</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of listado" (contextmenu)="onTableClick($event, compra)"
                    [attr.modal]="'modalDetalleCompra'">
                    <th>{{compra.id_venta}}</th>
                    <td>{{compra.producto}}</td>
                    <td>{{compra.cantidad}}</td>
                    <td>{{compra.precio_venta | currency:'':'symbol':'1.0-2'}}</td>
                    <td>{{compra.linea_producto}}</td>
                    <td>{{compra.proveedor}}</td>
                    <td>{{compra.total | currency:'':'symbol':'1.0-2'}}</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-hover" *ngIf="tipoVista == 3">
            <thead>
                <tr>
                    <th scope="col">Cód.</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Valor Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compra of listado" (contextmenu)="onTableClick($event, compra)"
                    [attr.modal]="'modalDetalleCompra'">
                    <th>{{compra.id}}</th>
                    <td>{{compra.fecha_registro}}</td>
                    <td>{{compra.proveedore.nombre}}</td>
                    <td>{{compra.ordene.usuario.nombres}} {{compra.ordene.usuario.apellidos}}</td>
                    <td>{{compra.ordene.detalle_ordenes[0].total | currency:'':'symbol':'1.0-2'}}</td>
                </tr>
            </tbody>
        </table>
        <div #contextMenu></div>
    </div>

    <div class="card-footer" *ngIf="tipoVista == 3">
        <div class="row">
            <div class="col-4 offset-2">
                <button type="button" class="btn btn-secondary col-12">Exportar CSV</button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-secondary col-12">Exportar CSV General</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->

<div *ngIf="modalDetalleCompra">
    <app-modal-detalle-compra (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-detalle-compra>
</div>

<div *ngIf="modalAnularCompra">
    <app-modal-anular-compra (closeEvent)="closeEventModal()" [data]="dataModal"></app-modal-anular-compra>
</div>