<div id="modalProveedor" class="modal fade" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuarios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <form [formGroup]="form">
        <div class="modal-body">
  
            <div class="row">
  
              <div class="col">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="nombres" id="nombres">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">NIT</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="nit" id="nit">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Estación</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="estacion" id="estacion">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Dirección</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="direccion" id="direccion">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Usuario</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="usuario" id="usuario">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo Usuario</label>
                  <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" formControlName="id_tipo_usuario">
                      <option *ngFor="let item of tiposUsuarios" value="{{item.id}}">{{item.nombre}}</option>
                    </select>
                  </div>
                </div>
              </div>
  
  
              <div class="col">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Apellido</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="apellidos" id="apellidos">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Ciudad</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="ciudad" id="ciudad">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Correo</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="correo" id="correo">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Télefono</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="telefono" id="telefono">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Contraseña</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="clave" id="clave">
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  