

<div class="modal" style="display: block;" tabindex="-1" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Usuarios</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()" aria-label="Close"></button>
        </div>
        <form [formGroup]="form">
        <div class="modal-body">
  
            <div class="row">
  
              <div class="col">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Nombre</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="name" id="name">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Cédula</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="document_number" id="document_number">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Cargo</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="role" id="role">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Dirección</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="direction" id="direction">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Usuario</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="user" id="user">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo Usuario</label>
                  <div class="col-sm-9">
                    <select class="form-select" aria-label="Default select example" formControlName="id_type_user">
                      <option selected value="1">Administrador</option>
                      <option value="2">Vendedor</option>
                    </select>
                  </div>
                </div>
              </div>
  
  
              <div class="col">
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Apellido</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="last_name" id="last_name">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Ciudad</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="city" id="city">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Correo</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="email" id="email">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Télefono</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="cel_phone" id="cel_phone">
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputEmail3" class="col-sm-3 col-form-label">Contraseña</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" formControlName="password" id="password">
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  (click)="closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" (click)="submit()">Aceptar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  